name: Adds all issues assign to project board

on:
    issues:
        types:
            - opened

jobs:
    add-to-project:
        name: Add issue to project
        runs-on: ubuntu-latest
        env: ${{ secrets }}
        steps:
            - uses: actions/add-to-project@v0.4.0
              with:
                  project-url: https://github.com/users/apiel/projects/1
                  github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
#                  github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
#                  labeled: needs-triage
#                  label-operator: NOT
